<ion-grid>
  <ion-list>
    <ion-item *ngFor="let video of videos">
      <ion-row>
        <ion-col  size="4">
          <ion-button outline on-click="initUpload(video)" *ngIf="video.state === 0">
            <ion-icon name="play"></ion-icon>
          </ion-button>
          <ion-button outline on-click="initUpload(video)" *ngIf="video.error !== null">
            <ion-icon name="refresh"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-badge color="medium"  *ngIf="video.error === null && video.state === 1">{{video.progress}} %</ion-badge>
        </ion-col>
        <ion-col size="5">
          {{video.file.name}}
        </ion-col>
        <ion-col size="1">
          <ion-icon name="checkmark-circle" *ngIf="video.error === null && video.state === 3"></ion-icon>
          <ion-icon name="close-circle" *ngIf="video.error !== null"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-grid>

<ion-fab  vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="primary" on-click="deleteAll()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
    <ion-label class="first-two">Borrar todo</ion-label>
  </ion-fab-list>
</ion-fab>