<ion-header>
  <ion-toolbar color="primary">
    <ion-title>BARBACOPOLY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-input type="text" placeholder="Nombre" [(ngModel)]="name" required></ion-input>
  <p></p>
  <div style="display:flex">
    <ion-input type="{{typeInput}}" placeholder="Contraseña" [(ngModel)]="password" required></ion-input>
    <ion-button round on-click="showPassword()" item-right *ngIf="showPass"><ion-icon name="eye-off"></ion-icon></ion-button>
    <ion-button round on-click="showPassword()" item-right *ngIf="!showPass"><ion-icon name="eye"></ion-icon></ion-button>
  </div>    
  <ion-button ion-button  on-click="login()">Entrar</ion-button>
  <p><ion-label *ngIf="versionCode !== null" style="color:white">#{{versionCode}}</ion-label></p>
</ion-content>
