.image-container-normal{
    background-size: cover;
    min-height: 100px;
    min-width: 300px;
}    

.image-container-pinterest{
    background-size: cover;
    min-height: 100px;
    min-width: 100px;
}    

ion-label {
    position: absolute;
    right: 55px;
    background: rgba(248, 248, 248, 1);
    height: 24px;
    line-height: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
}
.commentaryCount{
    position: absolute;
    margin-top: -30px;
    margin-left: 5px;
}

.first{
    margin-top: -213px;
}

.second{
    margin-top: -163px; 
}
.third{
    margin-top: -113px;
}
.four{
    margin-top: -63px;
}
.five{
    margin-top: -13px;
}


//Pinterest:
@media (min-width: 0px) {
    .images {
        column-count: 2;
    }
}

@media (min-width: 420px) {
    .images {
        column-count: 3;
    }
}

@media (min-width: 720px) {
    .images {
        column-count: 4;
    }
}

.one-image {
    margin: 2px;
}