<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons size="big" slot="end">
      <ion-button  color="primary">
        <ion-icon name="arrow-dropdown-circle" [hidden]="isAsc" on-click="changeOrder()"></ion-icon>
        <ion-icon name="arrow-dropup-circle" [hidden]="!isAsc" on-click="changeOrder()"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Fotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
      <ion-grid>
          <ion-row>
            <ion-col col-6 col-md-4 col-xl-3 *ngFor="let image of images">
                <ion-img class="image-container" [src]="image.src" on-click="selectImage(image.id)"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
  
      <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button on-click="takePicture()">
            <ion-icon name="md-camera"></ion-icon>
          </ion-fab-button>
        </ion-fab>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="nextPageToken !== null">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Inventando fotos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>