<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons size="big" slot="end">
      <ion-button  color="primary">
        <ion-icon name="arrow-dropdown-circle" [hidden]="isAsc" on-click="changeOrder()"></ion-icon>
        <ion-icon name="arrow-dropup-circle" [hidden]="!isAsc" on-click="changeOrder()"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Fotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
   <!----<ion-infinite-scroll>
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>-->
  <div class="images">
      <div class="one-image" *ngFor="let image of images">
          <ion-img [src]="image.thumbnailLink"></ion-img>
      </div>
    </div>
  <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button on-click="takePicture()">
      <ion-icon name="md-camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>