ion-img {
    min-width: 400px;
}

.first{
    margin-top: -213px;
}

.second{
    margin-top: -163px; 
}
.third{
    margin-top: -113px;
}
.four{
    margin-top: -63px;
}
.five{
    margin-top: -13px;
}
